<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-2.5.xsd
           http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
           http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd">
	<!-- 
		配置aop
		* 目标类
		* 通知
		* 进行AOP的配置
	-->

	<!-- 
		引入dataSource
	-->
	<bean id="dataSource" destroy-method="close"
		class="org.apache.commons.dbcp.BasicDataSource">
		<property name="driverClassName" value="${driverClassName}" />
		<property name="url" value="${url}" />
		<property name="username" value="${username}" />
		<property name="password" value="${password}" />
	</bean>

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="locations">
			<value>
				classpath:cn/itcast/spring0401/jdbc/transaction/xml/jdbc.properties
			</value>
		</property>
	</bean>
	<!-- 
		通知
		xmlns:tx="http://www.springframework.org/schema/tx"
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
	 -->
	 <!-- 
	 	id为通知的唯一标识
	 	transaction-manager 事务管理器
	  -->
	  <!-- 
	  	   事务管理器
	  	     作用：告诉spring容器用哪种技术进行事务的管理
	   -->
	   <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	   		<property name="dataSource">
	   			<ref bean="dataSource"/>
	   		</property>
	   </bean>
	   
	   <context:component-scan base-package="cn.itcast.spring0401.jdbc.transaction.annotation"></context:component-scan>
	   <!-- 
	   		事务的注解解析器
	    -->
	   <tx:annotation-driven transaction-manager="transactionManager"/>
	   
	   <!-- 
	   		jdbcTemplate
	    -->
	    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
	    	<property name="dataSource">
	    		<ref bean="dataSource"/>
	    	</property>
	    </bean>
</beans>